*{
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#heading {
    font-family: 'Playball', cursive, Arial, Helvetica, sans-serif;
            font-size: 120px;
            width: 883px;
            margin: auto;
            color: aqua;
}

.box {
    border: 8px dashed rgb(255, 157, 250);
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    width: 95%;
}

#sudoku_form{
   display: grid;
   grid-template-columns: repeat(9,auto);
}
#sudoku_form input{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#btn{
    margin: auto;
    width: 314px;
    margin-top: 12px;
}
#solve,#clear{
            font-size: 36px;
            color: black;
            font-weight: bolder;
            background-color: aqua;
            border: 4px solid rgb(255, 93, 93);
            border-radius: 10px;
            font-family: 'Balsamiq Sans', cursive;
        }
#solve{
    padding: 6px 22px;
    margin-right: 2px;
}
#clear{
    padding: 6px 19px;
}
#result{
    margin-top: 10px;
    color: black;
    background-color: wheat ;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    display: none;
}
@media only screen and (max-width:890px){
    #heading {
        font-size: 70px;
        width: 516px;
}
}
@media only screen and (max-width:523px){
    #heading {
        font-size: 35px;
        width: 258px;
}
#sudoku_form input{
    font-size: 20px;
}
}