@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: grid;
    place-items: center; */

}

h1{
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(18, 121, 124, 0.774);
    text-align: center;
    text-shadow: 2px 2px rgb(3, 36, 37);
    position: relative;
    bottom: 15px;
}

.music_container{
    width: 35rem;
    height: 55rem;
    background-color:navajowhite;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0.3rem 0.5rem rgba(199, 187, 187, 0.3);
}

.music_container #artist{
    color:palevioletred;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2.1rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.img_container{
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.music_controls{
   width: 20rem;
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    margin-top: 5rem;
}

.music_controls .fas{
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.music_controls .main_button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_controls .fas:hover{
    color:rgb(204, 100, 59);
}

.music_controls .fa-play:hover{
    background-color: darkkhaki;
    color: black;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}

.animate{
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
