.row {
    margin-left: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    max-height: 16vh;
    transition: transform 450ms;
    margin-right: 12px;
}

.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge {
    max-height: 39vh;
}

.row__posterLarge:hover {
   transform: scale(1.09);
}