*{
    margin: 0;
    padding: 0;
}
#board
{   background: url(snake.jpg);
    min-height: 100vh;
    min-width:100vw;
    background-size:100vw 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#gameArea
{   background:linear-gradient(rgb(219, 219, 188),rgb(200, 240, 200));
    display:grid;
    grid-template-rows: repeat(15,1fr);
    grid-template-columns: repeat(15,1fr);
    height:90vmin;
    width:92vmin;
    border:2px solid black;
}
.head
{
    background-color: red;
    border-radius: 10px;
}
.snake
{
background-color: purple;
border-radius: 10px;

}
.food
{
    background-color: yellow;
    border-radius: 10px;

}
#score
{   
    position: absolute;
    min-height: 100px;
    min-width: 100px;
    right:100px;
    top: 20px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
#highScore
{   
    position: absolute;
    min-height: 100px;
    min-width: 100px;
    right:100px;
    top:120px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;

}