@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    display: grid;
    place-items: center;
}

#wrapper {
    aspect-ratio: 1.618;
    width: 90vmin;
    /* border: 2px solid white; */
    position: relative;
}

#wrapper>.shape {
    height: 30%;
    width: 30%;
    background-color: rgb(255 255 255/5%);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#wrapper>.shape:hover {
    border: 2px solid whitesmoke;
}

#wrapper>.shape:nth-child(1) {
    background-color: #ffbe0b;
}

#wrapper>.shape:nth-child(2) {
    background-color: #fb5607;
}

#wrapper>.shape:nth-child(3) {
    background-color: #ff006e;
}

#wrapper>.shape:nth-child(4) {
    background-color: #8338ec;
}

#wrapper>.shape:nth-child(5) {
    background-color: #3a86ff;
}

#wrapper>.shape:nth-child(6) {
    background-color: #e63946;
}

#wrapper>.shape:nth-child(7) {
    background-color: #e26d5c;
}

#wrapper[data-configuration="1"]>.shape:nth-child(1) {
    left: 0%;
    top: 0%;
    height: 50%;
    width: 20%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(2) {
    left: 20%;
    top: 0%;
    height: 50%;
    width: 30%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(3) {
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(4) {
    left: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(5) {
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(6) {
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(7) {
    left: 85%;
    top: 75%;
    height: 25%;
    width: 15%;
}


#wrapper[data-configuration="2"]>.shape:nth-child(1) {
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(2) {
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(3) {
    left: 50%;
    top: 0%;
    height: 100%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(4) {
    left: 0%;
    top: 0%;
    height: 50%;
    width: 10%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(5) {
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(6) {
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(7) {
    left: 90%;
    top: 40%;
    height: 60%;
    width: 10%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(1) {
    left: 0%;
    top: 16.5%;
    height: 32%;
    width: 20%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(2) {
    left: 20%;
    top: 2.7%;
    height: 55%;
    width: 34%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(3) {
    left: 38%;
    top: 0%;
    height: 100%;
    width: 62%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(4) {
    left: 0%;
    top: 47.3%;
    height: 55%;
    width: 34%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(5) {
    left: 34%;
    top: 56.4%;
    height: 32%;
    width: 20%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(6) {
    left: 66%;
    top: 45%;
    height: 55%;
    width: 34%;
}

#wrapper[data-configuration="3"]>.shape:nth-child(7) {
    left: 80%;
    top: 68%;
    height: 32%;
    width: 20%;
}

#wrapper[data-roundness="1"]>.shape {
    border-radius: 6rem;
}

#wrapper[data-roundness="2"]>.shape {
    border-radius: 0rem;
}

#wrapper[data-roundness="3"]>.shape {
    border-radius: 30rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(1) {
    border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(2) {
    border-radius: 20rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(3) {
    border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(4) {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(5) {
    border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(6) {
    border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(7) {
    border-top-left-radius: 10rem;
}