body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 34px;
  text-align: center;
  color: white;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 150px;
  height: 120px;
  background: slateblue;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: 0.8;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 80px;
  height: 50px;
  font-size: 35px;
  background: green;
}
