*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    
}
.card{
    width: 450px;
    text-align: center;
    background-color:hsl(225, 100%, 98%);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 5px 10px 8px hsl(225, 63%, 79%) ;
}
h2{
    margin-bottom: 10px;
}
.main{
    margin: 20px auto;
    line-height: 1.5;
    width: 70%;
}
.money{
    background-color:hsl(225, 100%, 96%);
    margin: 30px 30px 10px 30px;
    border-radius: 12px;
    display: flex;
    padding: 20px;
    
}
.money-left{
    display: flex;
    margin-right: auto;
    padding: 0 10px;
    line-height: 1.3;
}
.money-right{
    margin: 10px 20px;
}
.money-text{
    margin-left: 20px;
}
p{
    color: hsl(224, 23%, 55%);
}
.money a{
    color:  hsl(245, 75%, 52%);
}
.money a:hover{
    text-decoration: none;
}
button{
    width: 86%;
    margin: 8px 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    box-shadow: 5px 10px 8px hsl(224, 77%, 92%) ;
}
button:hover{opacity: 0.6;}
button a{
    color: aliceblue;
    text-decoration: none;
    
}
.cancel a{
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}
.cancel{
    margin: 10px 30px 20px 30px;
}
.cancel a:hover{
    color:hsl(224, 23%, 55%) ;
}